/***************************************************
	      think simple by marija zaric and distributed by http://freehtml5templates.com
***************************************************


***************************************************
			      Reset
***************************************************/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}


a img {border:none}


aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}


/***************************************************
			      Global styles
***************************************************/

html, body {
	width:auto;
	height: 100%;

	}


html, body{
	font-family:'Open Sans', sans-serif;
	font-size: 13px;
	color: #363636;
	margin:0 0 1px;
	line-height: 1.5;
	background-color:white;
	background-image:url(../images/gradient_background.png);
	background-position:left top;
	background-repeat:repeat;

}



p {
	margin-bottom:7px;
	}
	
a, p a {
	text-decoration:underline;
	color:white;
	}
	a:hover {color:white;}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
    font-weight: normal;
	position:relative;

	

}


	
h1{
	font-size: 3em;
	line-height:1.6;
	color: #363636;
	text-transform:capitalize;
	text-align:left;
	margin-left:40px;

	
	}
	h1 span{
	line-height:1.7px;
	color:black;
	font-size:14px;
	text-transform:none;
	display:block;


}

	
h2{
	font-size: 17px;
	line-height:1.7;
	color: #363636;
	text-align:left;
	width:420px;
	padding-top:8px;
	margin-left:40px;


	}

	
h3{

	font-size: 3em;
	line-height:1.6;
	color: #363636;
	text-transform:capitalize;
	text-align:left;
	background-color:transparent;
	padding-top:12px;
	margin-bottom:9px;



	}
	
	
 h3 span{
	font-size: 12px;
	color: black;
	text-transform:capitalize;
	height:24px;
	margin-top:15px;
	text-align:left;
    display:block;


}

h4{
	font-size: 2em;
	line-height:1.7;
	color: #363636;
	text-align:left;
	width:350px;
	padding-top:8px;
	margin-bottom:12px;



	}
	
h4 span{
	font-weight:bold;
	font-size:15px;
	font-family:'Open Sans', sans-serif;
	background-color:#FFCC33;
	padding:8px;
	margin-left:20px;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;




}

	

/***************************************************
			    Main containers
***************************************************/

#container, #container_left, #container_right{
	position: relative;
	width:100%;
	
	}
	#container{
			position:relative;
			width:980px;
			margin:0 auto;
			text-align:left;
			background-color:transparent;
			padding:15px;
			
}


.group1 {
	float: center;
	width: 600px;
	position: relative;
	background:transparent;
	padding:15px;
	margin-bottom:10px;
	

	


	}
	
.group2 {
	float: right;
	width: 390px;
	position: relative;
	background:transparent;
	padding:15px;
	margin-bottom:10px;
	margin-right: -7%;

	}
	
.group2_signup {
	float: left;
	width: 290px;
	position: relative;
	background:transparent;
	padding:15px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;

	}
	
.group3 {
	float: left;
	width: 290px;
	position: relative;
	background:transparent;
	padding:15px;
	margin-bottom:10px;


	}
	
.group4 {
	float: left;
	width: 550px;
	position: relative;
	background:transparent;
	padding:15px;
	margin-bottom:10px;
	margin-right:12px;


	}
	
.group5 {
	float: left;
	width: 350px;
	position: relative;
	background:transparent;
	padding:15px;
	margin-bottom:10px;


	}
	
	
	
	
.group_bannner_left {
	width: 620px;
	position: absolute;
	top:100px;
	background:transparent;
	margin-top:6px;
	margin-left:-40px;
	color: #363636;
	
	
	}
	
.group_bannner_right{
	width: 380px;
	position: absolute;
	top:-37px;
	right:-100px;
	background:transparent;
	margin-top:50px;
	
	
	}
	


			
header{
	position: relative;
	float:right;
	width: 100%;
	height:100px;


	}
	
	
/***************************************************
				INTRO
***************************************************/	
	
	#intro{
	width: 960px;
	position: relative;
	float: left;
	height:318px;
	padding:10px;
	background:transparent;
	margin-top:17px;



	
	}

/***************************************************
				   HOLDERS
***************************************************/	

.holder_content {
	position: relative;
	float: left;
	width: 100%;
	margin-top:15px;
	background:transparent;
	background: url(../images/line.png) 0 -18px no-repeat;



	}
	
.holder_content_Signup {
	position: relative;
	float: left;
	left: 25%;
	width: 100%;
	margin-top:15px;
	background:transparent;
	background: url(../images/line.png) 0 -18px no-repeat;



	}
	
.holder_content1 {
	position: relative;
	float: left;
	width: 100%;
	margin-top:6px;
	margin-bottom:20px;
	background: url(../images/line.png) 0 -18px no-repeat;

	}
	
	
.holder_content_separator{
	margin-bottom:20px;
	}

	
/***************************************************
			        GALLERY
***************************************************/
	 
	 	 
	 a.photo_hover3{
	position:relative;
	float: right;
	margin:5px 13px 8px 0;
	padding: 8px;

	}
	a.photo_hover3{ background-color:white;
	border: 1px solid #E1E1E1;

}
	a.photo_hover3:hover {
	border: 1px dotted #66CCFF;
	background-color:#C7EDFF;
	opacity:0.9;
	z-index:1000;
}

	
	 a.photo_hover2{
	position:relative;
	float: left;
	margin:5px 13px 8px 0;
	padding: 8px;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;


	}
	a.photo_hover2{ background-color:white;
	border: 1px solid #E1E1E1;

}
	a.photo_hover2:hover {
	border: 1px solid #E1E1E1;
}

/***************************************************
				   GALLERY
***************************************************/	

.holder_gallery {
	width:610px;
	float:left;
	margin-right:10px;
	padding:0;
	}		
	.holder_gallery a.photo_hover {left:42px}
	.holder_gallery h3 { clear:left}
	
.holder_gallery a.name{
	font-size:12px;
	text-align:left;
	position:relative;
	margin-top:15px;
	display:block;
	clear:left;
	line-height:15px;



}

.holder_gallery a.name1{
	font-size:12px;
	position:relative;
	display:inline;
    text-align:left;
	top:20px;
    left:0;

}

.holder_gallery a.description{
	font-size:12px;
	float:left;
	position:relative;
	margin-right:5px;
	padding-top:7px;
	color:gray;
	width:300px;
	display:inline;


}

	
	
/***************************************************
			        FOOTER
***************************************************/


footer{
	position:relative;
	float: bottom;
	height:90px;
	clear:both;
	width:100%;
	margin-bottom: -50%;
	background-color:#DEDEDE;

	}

#FooterOne, #FooterTwo, #FooterTree, #FooterFour {
	position: absolute;
	bottom: 0px;
}

#FooterTwo{
	position: relative;
	float: right;
	margin-right: 3%;
	top:26px;
	color:#363636;
	margin-top: 1%;

}

#FooterTree{
	position: absolute;
	margin-left: 1%;
	top:26px;
	color: #;
	margin-top: 10%;
}

#FooterFour{
	position: relative;
	margin-left: 20%;
	top: 35px;
	color:#363636;
}

.container{
    width:980px;
    margin:0 auto;
	background-color:transparent;

}




/***************************************************
				       MENU
***************************************************/

nav{
	position:absolute;
	width:500px;
	top:43px;
	right:-12px;
	background:transparent;


}


nav ul li{
	float: left;
	line-height:normal;
	
}

nav ul li a{
	font-size: 20px;
	font-family:'Open Sans', sans-serif;
	color: black;
	text-transform:capitalize;
	font-weight:normal;
	display:block;	/* IE6, IE7 line height fix */
	padding:15px;
	background-color:transparent;
	margin-top:0px;
	margin-right:6px;
    text-decoration:none;
	


}

nav ul li a:hover{
	
	background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */


}
nav ul li a.current{
background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 0%, rgba(40,52,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(0%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 0%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 0%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 0%,rgba(40,52,59,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 0%,rgba(40,52,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */


	padding:15px;
	color:white;
	-moz-border-radius: 8px;
	border-radius: 8px;
}


.content_menu{
	float: left;
	width: 274px;
	margin-top:-10px;
	margin-bottom:15px;

	}
	
.content_menu ul{	
	margin: 0px;
	padding: 0px;
	float: none;
}

.content_menu ul li{
	float: none;
	padding-bottom: 16px;

}


.content_menu ul li a{
	font-size:3em;
	line-height:normal;
    color:#33CC99;
	text-align:left;
	text-decoration:none;
	padding-left:20px;
	

	}
	
.content_menu ul li a:hover{color:#33CC99;}



/***************************************************
				   SPECIFIC
***************************************************/

#logo{
	position:relative;
   	float:center;
   	margin-left: 37%;
	width:250px;
	height:160px;
	

}

.clearing{
	clear: both;
	display: inline;
	width: 100%;
	height: 0;
	overflow:hidden;
}



.purple{
	font-size:50px;
	color:#000000;
	float:left;
	padding:12px;
	margin:20px;
}
.read_more{
	color:#663366;
	font-size:14px;
	float:right;
	margin-top:15px;
}

#logo_top
{
	
   	top:45px;
	left:-13%;
	bottom:0px;
	color: #363636;
}

.submitBtn {
	margin-top: 4%;
	margin-left: -1px;
	-moz-box-shadow: 0px -1px 0px -1px #ffffff;
	-webkit-box-shadow: 0px -1px 0px -1px #ffffff;
	box-shadow: 0px -1px 0px -1px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4698df), color-stop(1, #2f7ad0) );
	background:-moz-linear-gradient( center top, #4698df 5%, #2f7ad0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4698df', endColorstr='#2f7ad0');
	background-color:#4698df;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:'Open Sans', sans-serif;
	font-size:15px;
	font-weight:normal;
	padding:8px 30px;
	text-decoration:none;
}.submitBtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2f7ad0), color-stop(1, #4698df) );
	background:-moz-linear-gradient( center top, #2f7ad0 5%, #4698df 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f7ad0', endColorstr='#4698df');
	background-color:#2f7ad0;
}.submitBtn:active {
	position:relative;
	top:1px;
}

.formSubmitBtn {
	margin-top: 4%;
	margin-left: -1px;
	-moz-box-shadow: 0px -1px 0px -1px #ffffff;
	-webkit-box-shadow: 0px -1px 0px -1px #ffffff;
	box-shadow: 0px -1px 0px -1px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4698df), color-stop(1, #2f7ad0) );
	background:-moz-linear-gradient( center top, #4698df 5%, #2f7ad0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4698df', endColorstr='#2f7ad0');
	background-color:#4698df;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:'Open Sans', sans-serif;
	font-size:17px;
	font-weight:normal;
	padding:8px 30px;
	text-decoration:none;
}.formSubmitBtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2f7ad0), color-stop(1, #4698df) );
	background:-moz-linear-gradient( center top, #2f7ad0 5%, #4698df 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f7ad0', endColorstr='#4698df');
	background-color:#2f7ad0;
}.formSubmitBtn:active {
	position:relative;
	top:1px;
}

#product1
{
	margin-top: -25%;
	margin-left: 5%;
	margin-bottom: 25%;
}

#product2
{
	margin-top: -25%;
	margin-left: 8%;
	margin-bottom: 25%;
}

#buttons
{
	margin-left: 15%;
	margin-top: 2.5%;
}

#submitBtn
{

}

#pitchingLine
{
	margin-left: 19.5%;
	margin-top: -5%;
	margin-bottom: 0%;
}

#product_divider
{ 
	margin-top: 2%;
	margin-bottom: 20%;
	margin-left: 9%;
	opacity: 0.35;
}

#orderProduct1
{
	float: left;
	margin-left: 18.5%;
	margin-bottom: 25%;
	margin-top: -22.5%;
}

#orderProduct2
{
	float: right;
	margin-right: 17.5%;
	margin-bottom: 25%;
	margin-top: -22.5%;
}

#details_header
{
	margin-left: 70%;
}

#detailsBody
{
	width: 750px;
	text-align: center;
	margin-left: 17%;
}

#topLine
{
	margin-top: 1%;
}

#bottomLine
{
	margin-top: 12%;
}

#mainContainer
{
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 11.5%;
	margin-right: 11.5%;
}

#container
{
	margin-top: 0%;
	margin-bottom: 59%;
}

#twitter
{
	margin-top: -5%;
	margin-bottom: -2%;
}

#message
{
	margin-top: 7%;
	margin-bottom: -10%;
	margin-left: 25%;
}

#messageText
{
	text-align:center;
	font-size: 1.5em;
	margin-top: -16.5%;
	margin-bottom: -100%;
}

#thankYou
{
	text-align: center;
	font-size: 1.5em;
}