/* 

Css Chart created by Alen Grakalic
Brought to you by Css Globe (cssglobe.com)

*/

dl#csschart, dl#csschart dt, dl#csschart dd{
	margin:0;
	padding:0;
	} 	
dl#csschart{
	background:url(./images/langChart.png) no-repeat 0 0;
	width:467px;
	height:385px;
	} 
dl#csschart dt{
	display:none;
	}
dl#csschart dd{
	position:relative;
	float:left;
	display:inline;
	width:49px;
	height:330px;
	margin-top:21px;
	} 
dl#csschart dd.first{
	margin-left:72px;
	} 	
dl#csschart span{
	position:absolute;
	display:block;
	width:45px;	
	bottom:0;
	left:0;	
	z-index:1;
	color:#555;
	text-decoration:none;
	} 		
dl#csschart span em{
	display:block;
	font-style:normal;
	float:left;
	line-height:200%;
	background:#fff;
	color:#555;
	border:1px solid #b1b1b1;
	position:absolute;
	top:50%;
	left:3px;
	text-align:center;
	width:23px;
	} 		

/* default column styling */		

	dl#csschart span{
		height:50%;
		background:url(./images/red.png) repeat;
		} 

/* // default column styling */		
		
/* column types */			

	dl#csschart span.type1{
		background:url(./images/red.png) repeat;
		} 
	dl#csschart span.type2{
		background:url(./images/green.png) repeat;
		} 
	dl#csschart span.type3{
		background:url(./images/blue.png) repeat;
		} 
	dl#csschart span.type4{
		background:url(./images/yellow.png) repeat;
		} 
	
/* // column types */	

/* percentages */

	dl#csschart span.p0{height:0%;}
	dl#csschart span.p1{height:1%;}
	dl#csschart span.p2{height:2%;}
	dl#csschart span.p3{height:3%;}
	dl#csschart span.p4{height:4%;}
	dl#csschart span.p5{height:5%;}
	dl#csschart span.p6{height:6%;}
	dl#csschart span.p7{height:7%;}
	dl#csschart span.p8{height:8%;}
	dl#csschart span.p9{height:9%;}
	dl#csschart span.p10{height:10%;}
	dl#csschart span.p11{height:11%;}
	dl#csschart span.p12{height:12%;}
	dl#csschart span.p13{height:13%;}
	dl#csschart span.p14{height:14%;}
	dl#csschart span.p15{height:15%;}
	dl#csschart span.p16{height:16%;}
	dl#csschart span.p17{height:17%;}
	dl#csschart span.p18{height:18%;}
	dl#csschart span.p19{height:19%;}
	dl#csschart span.p20{height:20%;}
	dl#csschart span.p21{height:21%;}
	dl#csschart span.p22{height:22%;}
	dl#csschart span.p23{height:23%;}
	dl#csschart span.p24{height:24%;}
	dl#csschart span.p25{height:25%;}
	dl#csschart span.p26{height:26%;}
	dl#csschart span.p27{height:27%;}
	dl#csschart span.p28{height:28%;}
	dl#csschart span.p29{height:29%;}
	dl#csschart span.p30{height:30%;}
	dl#csschart span.p31{height:31%;}
	dl#csschart span.p32{height:32%;}
	dl#csschart span.p33{height:33%;}
	dl#csschart span.p34{height:34%;}
	dl#csschart span.p35{height:35%;}
	dl#csschart span.p36{height:36%;}
	dl#csschart span.p37{height:37%;}
	dl#csschart span.p38{height:38%;}
	dl#csschart span.p39{height:39%;}
	dl#csschart span.p40{height:40%;}
	dl#csschart span.p41{height:41%;}
	dl#csschart span.p42{height:42%;}
	dl#csschart span.p43{height:43%;}
	dl#csschart span.p44{height:44%;}
	dl#csschart span.p45{height:45%;}
	dl#csschart span.p46{height:46%;}
	dl#csschart span.p47{height:47%;}
	dl#csschart span.p48{height:48%;}
	dl#csschart span.p49{height:49%;}
	dl#csschart span.p50{height:50%;}
	dl#csschart span.p51{height:51%;}
	dl#csschart span.p52{height:52%;}
	dl#csschart span.p53{height:53%;}
	dl#csschart span.p54{height:54%;}
	dl#csschart span.p55{height:55%;}
	dl#csschart span.p56{height:56%;}
	dl#csschart span.p57{height:57%;}
	dl#csschart span.p58{height:58%;}
	dl#csschart span.p59{height:59%;}
	dl#csschart span.p60{height:60%;}
	dl#csschart span.p61{height:61%;}
	dl#csschart span.p62{height:62%;}
	dl#csschart span.p63{height:63%;}
	dl#csschart span.p64{height:64%;}
	dl#csschart span.p65{height:65%;}
	dl#csschart span.p66{height:66%;}
	dl#csschart span.p67{height:67%;}
	dl#csschart span.p68{height:68%;}
	dl#csschart span.p69{height:69%;}
	dl#csschart span.p70{height:70%;}
	dl#csschart span.p71{height:71%;}
	dl#csschart span.p72{height:72%;}
	dl#csschart span.p73{height:73%;}
	dl#csschart span.p74{height:74%;}
	dl#csschart span.p75{height:75%;}
	dl#csschart span.p76{height:76%;}
	dl#csschart span.p77{height:77%;}
	dl#csschart span.p78{height:78%;}
	dl#csschart span.p79{height:79%;}
	dl#csschart span.p80{height:80%;}
	dl#csschart span.p81{height:81%;}
	dl#csschart span.p82{height:82%;}
	dl#csschart span.p83{height:83%;}
	dl#csschart span.p84{height:84%;}
	dl#csschart span.p85{height:85%;}
	dl#csschart span.p86{height:86%;}
	dl#csschart span.p87{height:87%;}
	dl#csschart span.p88{height:88%;}
	dl#csschart span.p89{height:89%;}
	dl#csschart span.p90{height:90%;}
	dl#csschart span.p91{height:91%;}
	dl#csschart span.p92{height:92%;}
	dl#csschart span.p93{height:93%;}
	dl#csschart span.p94{height:94%;}
	dl#csschart span.p95{height:95%;}
	dl#csschart span.p96{height:96%;}
	dl#csschart span.p97{height:97%;}
	dl#csschart span.p98{height:98%;}
	dl#csschart span.p99{height:99%;}
	dl#csschart span.p100{height:100%;}


/* // percentages */				
	
	
	
/* 

Css Chart created by Alen Grakalic
Brought to you by Css Globe (cssglobe.com)

*/


dl#csschart2, dl#csschart2 dt, dl#csschart2 dd{
	margin:0;
	padding:0;
	} 	
dl#csschart2{
	background:url(./images/frameChart.png) no-repeat 0 0;
	width:467px;
	height:585px;
	} 
dl#csschart2 dt{
	display:none;
	}
dl#csschart2 dd{
	position:relative;
	float:left;
	display:inline;
	width:80px;
	height:330px;
	margin-top:21px;		
	} 
dl#csschart2 dd.first{
	margin-left:67px;		
	} 	
dl#csschart2 span{
	position:absolute;
	display:block;
	width:75px;	
	bottom:0;
	left:0;	
	z-index:1;
	color:#555;
	text-decoration:none;
	}		

/* default column styling */		

	dl#csschart2 span{
		height:50%;
		background:url(./images/red.png) repeat;
		} 

/* // default column styling */		
		
/* column types */			

	dl#csschart2 span.type1{
		background:url(./images/red.png) repeat;
		} 
	dl#csschart2 span.type2{
		background:url(./images/green.png) repeat;
		} 
	dl#csschart2 span.type3{
		background:url(./images/blue.png) repeat;
		} 
	dl#csschart2 span.type4{
		background:url(./images/yellow.png) repeat;
		} 
	
/* // column types */	

/* percentages */

	dl#csschart2 span.p0{height:0%;}
	dl#csschart2 span.p1{height:1%;}
	dl#csschart2 span.p2{height:2%;}
	dl#csschart2 span.p3{height:3%;}
	dl#csschart2 span.p4{height:4%;}
	dl#csschart2 span.p5{height:5%;}
	dl#csschart2 span.p6{height:6%;}
	dl#csschart2 span.p7{height:7%;}
	dl#csschart2 span.p8{height:8%;}
	dl#csschart2 span.p9{height:9%;}
	dl#csschart2 span.p10{height:10%;}
	dl#csschart2 span.p11{height:11%;}
	dl#csschart2 span.p12{height:12%;}
	dl#csschart2 span.p13{height:13%;}
	dl#csschart2 span.p14{height:14%;}
	dl#csschart2 span.p15{height:15%;}
	dl#csschart2 span.p16{height:16%;}
	dl#csschart2 span.p17{height:17%;}
	dl#csschart2 span.p18{height:18%;}
	dl#csschart2 span.p19{height:19%;}
	dl#csschart2 span.p20{height:20%;}
	dl#csschart2 span.p21{height:21%;}
	dl#csschart2 span.p22{height:22%;}
	dl#csschart2 span.p23{height:23%;}
	dl#csschart2 span.p24{height:24%;}
	dl#csschart2 span.p25{height:25%;}
	dl#csschart2 span.p26{height:26%;}
	dl#csschart2 span.p27{height:27%;}
	dl#csschart2 span.p28{height:28%;}
	dl#csschart2 span.p29{height:29%;}
	dl#csschart2 span.p30{height:30%;}
	dl#csschart2 span.p31{height:31%;}
	dl#csschart2 span.p32{height:32%;}
	dl#csschart2 span.p33{height:33%;}
	dl#csschart2 span.p34{height:34%;}
	dl#csschart2 span.p35{height:35%;}
	dl#csschart2 span.p36{height:36%;}
	dl#csschart2 span.p37{height:37%;}
	dl#csschart2 span.p38{height:38%;}
	dl#csschart2 span.p39{height:39%;}
	dl#csschart2 span.p40{height:40%;}
	dl#csschart2 span.p41{height:41%;}
	dl#csschart2 span.p42{height:42%;}
	dl#csschart2 span.p43{height:43%;}
	dl#csschart2 span.p44{height:44%;}
	dl#csschart2 span.p45{height:45%;}
	dl#csschart2 span.p46{height:46%;}
	dl#csschart2 span.p47{height:47%;}
	dl#csschart2 span.p48{height:48%;}
	dl#csschart2 span.p49{height:49%;}
	dl#csschart2 span.p50{height:50%;}
	dl#csschart2 span.p51{height:51%;}
	dl#csschart2 span.p52{height:52%;}
	dl#csschart2 span.p53{height:53%;}
	dl#csschart2 span.p54{height:54%;}
	dl#csschart2 span.p55{height:55%;}
	dl#csschart2 span.p56{height:56%;}
	dl#csschart2 span.p57{height:57%;}
	dl#csschart2 span.p58{height:58%;}
	dl#csschart2 span.p59{height:59%;}
	dl#csschart2 span.p60{height:60%;}
	dl#csschart2 span.p61{height:61%;}
	dl#csschart2 span.p62{height:62%;}
	dl#csschart2 span.p63{height:63%;}
	dl#csschart2 span.p64{height:64%;}
	dl#csschart2 span.p65{height:65%;}
	dl#csschart2 span.p66{height:66%;}
	dl#csschart2 span.p67{height:67%;}
	dl#csschart2 span.p68{height:68%;}
	dl#csschart2 span.p69{height:69%;}
	dl#csschart2 span.p70{height:70%;}
	dl#csschart2 span.p71{height:71%;}
	dl#csschart2 span.p72{height:72%;}
	dl#csschart2 span.p73{height:73%;}
	dl#csschart2 span.p74{height:74%;}
	dl#csschart2 span.p75{height:75%;}
	dl#csschart2 span.p76{height:76%;}
	dl#csschart2 span.p77{height:77%;}
	dl#csschart2 span.p78{height:78%;}
	dl#csschart2 span.p79{height:79%;}
	dl#csschart2 span.p80{height:80%;}
	dl#csschart2 span.p81{height:81%;}
	dl#csschart2 span.p82{height:82%;}
	dl#csschart2 span.p83{height:83%;}
	dl#csschart2 span.p84{height:84%;}
	dl#csschart2 span.p85{height:85%;}
	dl#csschart2 span.p86{height:86%;}
	dl#csschart2 span.p87{height:87%;}
	dl#csschart2 span.p88{height:88%;}
	dl#csschart2 span.p89{height:89%;}
	dl#csschart2 span.p90{height:90%;}
	dl#csschart2 span.p91{height:91%;}
	dl#csschart2 span.p92{height:92%;}
	dl#csschart2 span.p93{height:93%;}
	dl#csschart2 span.p94{height:94%;}
	dl#csschart2 span.p95{height:95%;}
	dl#csschart2 span.p96{height:96%;}
	dl#csschart2 span.p97{height:97%;}
	dl#csschart2 span.p98{height:98%;}
	dl#csschart2 span.p99{height:99%;}
	dl#csschart2 span.p100{height:100%;}


/* // percentages */
	
	dl#csschart3, dl#csschart3 dt, dl#csschart3 dd{
	margin:0;
	padding:0;
	} 	
dl#csschart3{
	background:url(./images/otherChart.png) no-repeat 0 0;
	width:467px;
	height:385px;
	} 
dl#csschart3 dt{
	display:none;
	}
dl#csschart3 dd{
	position:relative;
	float:left;
	display:inline;
	width:55px;
	height:330px;
	margin-top:21px;
	} 
dl#csschart3 dd.first{
	margin-left:72px;
	} 	
dl#csschart3 span{
	position:absolute;
	display:block;
	width:50px;	
	bottom:0;
	left:0;	
	z-index:1;
	color:#555;
	text-decoration:none;
	} 		
dl#csschart3 span em{
	display:block;
	font-style:normal;
	float:left;
	line-height:200%;
	background:#fff;
	color:#555;
	border:1px solid #b1b1b1;
	position:absolute;
	top:50%;
	left:3px;
	text-align:center;
	width:23px;
	} 		

/* default column styling */		

	dl#csschart3 span{
		height:50%;
		background:url(./images/red.png) repeat;
		} 

/* // default column styling */		
		
/* column types */			

	dl#csschart3 span.type1{
		background:url(./images/red.png) repeat;
		} 
	dl#csschart3 span.type2{
		background:url(./images/green.png) repeat;
		} 
	dl#csschart3 span.type3{
		background:url(./images/blue.png) repeat;
		} 
	dl#csschart3 span.type4{
		background:url(./images/yellow.png) repeat;
		} 
	
/* // column types */	

/* percentages */

	dl#csschart3 span.p0{height:0%;}
	dl#csschart3 span.p1{height:1%;}
	dl#csschart3 span.p2{height:2%;}
	dl#csschart3 span.p3{height:3%;}
	dl#csschart3 span.p4{height:4%;}
	dl#csschart3 span.p5{height:5%;}
	dl#csschart3 span.p6{height:6%;}
	dl#csschart3 span.p7{height:7%;}
	dl#csschart3 span.p8{height:8%;}
	dl#csschart3 span.p9{height:9%;}
	dl#csschart3 span.p10{height:10%;}
	dl#csschart3 span.p11{height:11%;}
	dl#csschart3 span.p12{height:12%;}
	dl#csschart3 span.p13{height:13%;}
	dl#csschart3 span.p14{height:14%;}
	dl#csschart3 span.p15{height:15%;}
	dl#csschart3 span.p16{height:16%;}
	dl#csschart3 span.p17{height:17%;}
	dl#csschart3 span.p18{height:18%;}
	dl#csschart3 span.p19{height:19%;}
	dl#csschart3 span.p20{height:20%;}
	dl#csschart3 span.p21{height:21%;}
	dl#csschart3 span.p22{height:22%;}
	dl#csschart3 span.p23{height:23%;}
	dl#csschart3 span.p24{height:24%;}
	dl#csschart3 span.p25{height:25%;}
	dl#csschart3 span.p26{height:26%;}
	dl#csschart3 span.p27{height:27%;}
	dl#csschart3 span.p28{height:28%;}
	dl#csschart3 span.p29{height:29%;}
	dl#csschart3 span.p30{height:30%;}
	dl#csschart3 span.p31{height:31%;}
	dl#csschart3 span.p32{height:32%;}
	dl#csschart3 span.p33{height:33%;}
	dl#csschart3 span.p34{height:34%;}
	dl#csschart3 span.p35{height:35%;}
	dl#csschart3 span.p36{height:36%;}
	dl#csschart3 span.p37{height:37%;}
	dl#csschart3 span.p38{height:38%;}
	dl#csschart3 span.p39{height:39%;}
	dl#csschart3 span.p40{height:40%;}
	dl#csschart3 span.p41{height:41%;}
	dl#csschart3 span.p42{height:42%;}
	dl#csschart3 span.p43{height:43%;}
	dl#csschart3 span.p44{height:44%;}
	dl#csschart3 span.p45{height:45%;}
	dl#csschart3 span.p46{height:46%;}
	dl#csschart3 span.p47{height:47%;}
	dl#csschart3 span.p48{height:48%;}
	dl#csschart3 span.p49{height:49%;}
	dl#csschart3 span.p50{height:50%;}
	dl#csschart3 span.p51{height:51%;}
	dl#csschart3 span.p52{height:52%;}
	dl#csschart3 span.p53{height:53%;}
	dl#csschart3 span.p54{height:54%;}
	dl#csschart3 span.p55{height:55%;}
	dl#csschart3 span.p56{height:56%;}
	dl#csschart3 span.p57{height:57%;}
	dl#csschart3 span.p58{height:58%;}
	dl#csschart3 span.p59{height:59%;}
	dl#csschart3 span.p60{height:60%;}
	dl#csschart3 span.p61{height:61%;}
	dl#csschart3 span.p62{height:62%;}
	dl#csschart3 span.p63{height:63%;}
	dl#csschart3 span.p64{height:64%;}
	dl#csschart3 span.p65{height:65%;}
	dl#csschart3 span.p66{height:66%;}
	dl#csschart3 span.p67{height:67%;}
	dl#csschart3 span.p68{height:68%;}
	dl#csschart3 span.p69{height:69%;}
	dl#csschart3 span.p70{height:70%;}
	dl#csschart3 span.p71{height:71%;}
	dl#csschart3 span.p72{height:72%;}
	dl#csschart3 span.p73{height:73%;}
	dl#csschart3 span.p74{height:74%;}
	dl#csschart3 span.p75{height:75%;}
	dl#csschart3 span.p76{height:76%;}
	dl#csschart3 span.p77{height:77%;}
	dl#csschart3 span.p78{height:78%;}
	dl#csschart3 span.p79{height:79%;}
	dl#csschart3 span.p80{height:80%;}
	dl#csschart3 span.p81{height:81%;}
	dl#csschart3 span.p82{height:82%;}
	dl#csschart3 span.p83{height:83%;}
	dl#csschart3 span.p84{height:84%;}
	dl#csschart3 span.p85{height:85%;}
	dl#csschart3 span.p86{height:86%;}
	dl#csschart3 span.p87{height:87%;}
	dl#csschart3 span.p88{height:88%;}
	dl#csschart3 span.p89{height:89%;}
	dl#csschart3 span.p90{height:90%;}
	dl#csschart3 span.p91{height:91%;}
	dl#csschart3 span.p92{height:92%;}
	dl#csschart3 span.p93{height:93%;}
	dl#csschart3 span.p94{height:94%;}
	dl#csschart3 span.p95{height:95%;}
	dl#csschart3 span.p96{height:96%;}
	dl#csschart3 span.p97{height:97%;}
	dl#csschart3 span.p98{height:98%;}
	dl#csschart3 span.p99{height:99%;}
	dl#csschart3 span.p100{height:100%;}


/* // percentages */
	
	
body {
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color:#555;
}

h1{
	font-size:180%;
	font-weight:normal;
	color:#555;
}

#skills
{
	margin-top: 2%;
	text-align: center;
	font-size: 2em;
	text-shadow: 0 0 10px #707070;
	color: #363636;
}

.gloss
{
    z-index:2;
   margin: 0 0 0 0;
   padding: 0;
   background: rgba(0,0,0,0.25);
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   
	width:100px;
	height:100px;
	background-color:#F5F5F5;
	border:1px solid #e3e3e3;
	border-radius: 7px;
	border-color: #C2C2C2;
}
}.gloss:hover {
	background-color:#DCDCDC;	
}.gloss:active {
	background-color:#DCDCDC;
}

#next
{	
	-moz-transform: scale(1) rotate(90deg);
	-webkit-transform: scale(1) rotate(90deg);
	-o-transform: scale(1) rotate(90deg);
	-ms-transform: scale(1) rotate(90deg);
	transform: scale(1) rotate(90deg);
	
	position: fixed;
	float: right;
	right: 0px;
	bottom: 40%;
	
	width:125px;
	height:60px;
}

#prev
{	
	-moz-transform: scale(1) rotate(90deg);
	-webkit-transform: scale(1) rotate(90deg);
	-o-transform: scale(1) rotate(90deg);
	-ms-transform: scale(1) rotate(90deg);
	transform: scale(1) rotate(90deg);
	
	position: fixed;
	float: right;
	right: 0px;
	top: 25%;
	
	width:125px;
	height:60px;
}

#btnTxtPrev
{	
	float: right;
	right: 0px;
	margin-right: 20%;
	margin-top: 16%;
	color: black;
	font-size: 1.15em;
}

#btnTxtNext
{	
	float: right;
	right: 0px;
	margin-right: 35%;
	margin-top: 16%;
	color: black;
	font-size: 1.15em;
}

