body {
  background: #fff;
  background-image: url('./images/bg.jpg');
  color: #333;
	font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  padding: 40px;
}


#container {
  width: 900px;
  margin: 0 auto;
}

#chart, #chartData {
  border: 0px solid #333;
  /*background: #ebedf2 url("images/gradient.png") repeat-x 0 0;*/
}

#chart {
  display: block;
  margin: 0 0 50px 0;
  float: left;
  margin-left: 37%;
  margin-top: 2%;
  cursor: pointer;
}

#chartData {
  width: 217px;
  font-size: 0.90em;
  margin: 0 0px 0 0;
  float: right;
  margin-top: 12%;
  margin-left: 0%;
  border-collapse: collapse;
  border-radius: 7px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  background-position: 0 -100px;
}

#chartData th, #chartData td {
  padding: 0.5em;
  border: 0px dotted #666;
  text-align: left;
}

#chartData th {
  border-bottom: 1px solid #333;
  text-transform: uppercase;
}

#chartData td {
  cursor: pointer;
}

#chartData td.highlight {
  background: #C3E4ED;
}

#chartData tr:hover td {
  background: #BFEFFF;
}

#workTable
{
	width: 500px;
  font-size: 0.90em;
  margin: 0 0px 0 0;
  float: right;
  margin-top: -7%;
  margin-right: 22.5%;
  border-collapse: collapse;
  border-radius: 7px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  background-position: 0 -100px;
}

#workTable th, #workTable td {
  padding: 0.5em;
  border: 0px dotted #666;
  text-align: left;
}

#workTable th {
  border-bottom: 1px solid #333;
  text-transform: uppercase;
}

#workTable td {
  cursor: pointer;
}

#workTable td.highlight {
  background: #C3E4ED;
}

#workTable tr:hover td {
  background: #BFEFFF;
}


#work_right1
{
	margin-left: -10%;
	margin-top: -24%;
}

.work_leftSide
{
	font-size: 1.05em;
	font-weight: bold;
	margin-top: 8%;
	margin-left: 5%;
}

#outerBox
{
	position:relative;
	width:100%;
	height:250px;
	background-color:#F5F5F5;
	border:1px solid #e3e3e3;
	margin-left: 1%;
	margin-top: 4%;
	border-radius: 7px;
	border-color: #C2C2C2;
}

#work_header
{
	text-align: center;
	font-size: 2em;
	margin-top: -1%;
}


.gloss
{
    z-index:2;
   margin: 0 0 0 0;
   padding: 0;
   background: rgba(0,0,0,0.25);
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   
	width:100px;
	height:100px;
	background-color:#F5F5F5;
	border:1px solid #e3e3e3;
	border-radius: 7px;
	border-color: #C2C2C2;
}
}.gloss:hover {
	background-color:#DCDCDC;	
}.gloss:active {
	background-color:#DCDCDC;
}


#next
{	
	-moz-transform: scale(1) rotate(90deg);
	-webkit-transform: scale(1) rotate(90deg);
	-o-transform: scale(1) rotate(90deg);
	-ms-transform: scale(1) rotate(90deg);
	transform: scale(1) rotate(90deg);
	
	position: fixed;
	float: right;
	right: 0px;
	bottom: 40%;
	
	width:125px;
	height:60px;
}

#prev
{	
	-moz-transform: scale(1) rotate(90deg);
	-webkit-transform: scale(1) rotate(90deg);
	-o-transform: scale(1) rotate(90deg);
	-ms-transform: scale(1) rotate(90deg);
	transform: scale(1) rotate(90deg);
	
	position: fixed;
	float: right;
	right: 0px;
	top: 25%;
	
	width:125px;
	height:60px;
}

#btnTxtPrev
{	
	float: right;
	right: 0px;
	margin-right: 20%;
	margin-top: 14%;
	
	font-size: 1.35em;
}

#btnTxtNext
{	
	float: right;
	right: 0px;
	margin-right: 35%;
	margin-top: 14%;
	
	font-size: 1.35em;
}
