body
{
	background-image: url('./images/bg.jpg');
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
}

#outerBox
{
	position:relative;
	width:80%;
	height:250px;
	background-color:#F5F5F5;
	border:1px solid #e3e3e3;
	margin-left: 10%;
	margin-top: 4%;
	border-radius: 7px;
	border-color: #C2C2C2;
	
}

#outerBox2
{
	position:relative;
	width:80%;
	height:200px;
	background-color:#F5F5F5;
	border:1px solid #e3e3e3;
	margin-left: 10%;
	margin-top: 4%;
	border-radius: 7px;
	border-color: #C2C2C2;
	
}

#outerBox3
{
	position:relative;
	width:80%;
	height:150px;
	background-color:#F5F5F5;
	border:1px solid #e3e3e3;
	margin-left: 10%;
	margin-top: 4%;
	border-radius: 7px;
	border-color: #C2C2C2;
	margin-bottom: 5%;
	
}

#left
{
	padding-left: 5%;
	margin-top: 12%;
	font-size: 1em;
}

#right
{
	width: 60%;
	padding-left: 35%;
	margin-top: -14.5%;
	font-size: 0.60em;
}

#left2
{
	padding-left: 5%;
	margin-top: 7.5%;
	font-size: 1em;
}

#right2
{
	width: 60%;
	padding-left: 35%;
	margin-top: -5.5%;
	font-size: 0.60em;
}

#tlc_left
{
	padding-left: 5%;
	margin-top: 5.5%;
	font-size: 1em;
}

#tlc_right
{
	width: 60%;
	padding-left: 35%;
	margin-top: -7.5%;
	font-size: 0.60em;
}

#velo_left
{
	padding-left: 5%;
	margin-top: 5.5%;
	font-size: 1em;
}

#velo_right
{
	width: 60%;
	padding-left: 35%;
	margin-top: -7.5%;
	font-size: 0.60em;
}

#af_left
{
	padding-left: 5%;
	margin-top: 6.5%;
	font-size: 1em;
}

#af_right
{
	width: 60%;
	padding-left: 35%;
	margin-top: -7.5%;
	font-size: 0.60em;
}

#left3
{
	padding-left: 5%;
	margin-top: 6.5%;
	font-size: 1em;
}

#right3
{
	width: 60%;
	padding-left: 35%;
	margin-top: -3%;
	font-size: 0.60em;
}

.left-shadow{
	width: 140px;
	height: 140px;
	bottom:-5px; left:-12px;
	position:absolute;
	z-index:-6;
	display: inline-block;
	-webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
	box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
	-moz-transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
	-webkit-transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
	-o-transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
	-ms-transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
	transform: scale(1) rotate(274deg) translate(20px, 25px) skew(9deg, 0deg);
}

.center-shadow{
	width: 97%;
	height: 140px;
	bottom: 10px; left:10px;
	position:absolute;
	z-index:-6;
	display: inline-block;
	-webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
	box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
	
	-moz-transform: scale(1) rotate(180deg);
	-webkit-transform: scale(1) rotate(180deg);
	-o-transform: scale(1) rotate(180deg);
	-ms-transform: scale(1) rotate(180deg);
	transform: scale(1) rotate(180deg);

}

.right-shadow{
	width: 140px;
	height: 140px;
	bottom:-13px; right:-4px;
	position:absolute;
	z-index:-6;
	display: inline-block;
	-webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
	box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.4);
	-moz-transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
	-webkit-transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
	-o-transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
	-ms-transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
	transform: scale(1) rotate(184deg) translate(20px, 25px) skew(9deg, 0deg);
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #dbdbdb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dbdbdb;
	box-shadow:inset 0px 1px 0px 0px #dbdbdb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e0e0e0), color-stop(1, #bdbdbd) );
	background:-moz-linear-gradient( center top, #e0e0e0 5%, #bdbdbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#bdbdbd');
	background-color:#e0e0e0;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #e0e0e0;
	display:inline-block;
	color:#363636;
	text-shadow: 0 0 10px #707070;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	font-weight:normal;
	padding:22px 30px;
	text-decoration:none;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bdbdbd), color-stop(1, #e0e0e0) );
	background:-moz-linear-gradient( center top, #bdbdbd 5%, #e0e0e0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd', endColorstr='#e0e0e0');
	background-color:#bdbdbd;
}.button:active {
	position:relative;
	top:1px;
}

#next
{	
	-moz-transform: scale(1) rotate(90deg);
	-webkit-transform: scale(1) rotate(90deg);
	-o-transform: scale(1) rotate(90deg);
	-ms-transform: scale(1) rotate(90deg);
	transform: scale(1) rotate(90deg);
	
	position: fixed;
	float: right;
	right: 0px;
	bottom: 30%;
	
	width:125px;
	height:60px;
}

#prev
{	
	-moz-transform: scale(1) rotate(90deg);
	-webkit-transform: scale(1) rotate(90deg);
	-o-transform: scale(1) rotate(90deg);
	-ms-transform: scale(1) rotate(90deg);
	transform: scale(1) rotate(90deg);
	
	position: fixed;
	float: right;
	right: 0px;
	top: 35%;
	
	width:125px;
	height:60px;
}

#btnTxtPrev
{	
	float: right;
	right: 0px;
	margin-right: 20%;
	margin-top: 14%;
	
	font-size: 0.75em;
}

#btnTxtNext
{	
	float: right;
	right: 0px;
	margin-right: 35%;
	margin-top: 14%;
	
	font-size: 0.75em;
}

#edu_header
{
	text-align: center;
	font-size: 1.5em;
	margin-top: 2%;
}

#uwlogo
{
	width: 150px;
	margin-top: -7%;
	margin-left: 3.5%;
}

#pres_header
{
	text-align: center;
	font-size: 1.5em;
	margin-top: 3%;
}

#icon
{
	width: 75px;
	position: relative;
	margin-left: 14%;
	margin-top: 15%;
}

.gloss
{
    z-index:2;
   margin: 0 0 0 0;
   padding: 0;
   background: rgba(0,0,0,0.25);
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   
	width:100px;
	height:100px;
	background-color:#F5F5F5;
	border:1px solid #e3e3e3;
	border-radius: 7px;
	border-color: #C2C2C2;
}
}.gloss:hover {
	background-color:#DCDCDC;	
}.gloss:active {
	background-color:#DCDCDC;
}


#music
{
	position:absolute;
	margin-left: 20%;
	margin-top: 4%;
}

#sushi
{
	position:absolute;
	margin-left: 37%;
	margin-top: 4%;
}

#startup
{
	position:absolute;
	margin-left: 53%;
	margin-top: 4%;
}

#islam
{
	position:absolute;
	margin-left: 70%;
	margin-top: 4%;
}